<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.du_an_mau_lab">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
<activity android:name=".model.ListHoaDonActivity"/>
        <activity android:name=".HoaDonActivity"/>
        <activity android:name=".DetailHoaDonActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailSachActivity"/>
        <activity android:name=".model.ListSachActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SachActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DetailNguoiDungActivity"></activity>

        <activity android:name=".model.ListNguoiDungActivity">

        </activity>

        <activity android:name=".NguoiDungActivity">

        </activity>
        <activity android:name=".TheLoaiActivity">

        </activity>
        <activity android:name=".model.ListTheLoaiActivity">

        </activity>
        <activity android:name=".DetailTheLoaiActivity"/>
        <activity android:name=".LoginActivity">

        </activity>

    </application>

</manifest>